* {
  margin: 4px;
  padding: 2px;
  box-sizing: border-box;
}

body{
  background-color: rgb(185, 252, 252);
  box-sizing: border-box;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}
/* .heading {
  color: #ee4848;
  text-transform: capitalize;
  text-shadow: 0 2px 4px #777674;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
} */

.img_div{
  display: flex;
  justify-content: center;
}

.img_div img {
  width: 200px;
  height: 150px;
}


