* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #caffff; */
}

.main_div {
  width: 100%;
  height: 100vh;
  background: rgb(157, 157, 236);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center_div {
  width: 25%;
  height: 60vh;
  background-color: #f4f4f4;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  color: white;
  font-size: 50px;
  background: transparent;
  background-color: rgb(18 20 68);;
  width: 100%;
  padding: 6px 0 2px 0;
  margin-bottom: 10px;
  box-shadow: 5px 5px 15px -5px rgba(16, 16, 16, 0.3);
}

/* input {
  text-align: center;
  height: 30px;
  top: 10px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid #8566aa;
} */

button {
  min-height: 40px;
  /* width: 40px; */
  border-radius: 5%;
  padding: 0 15px;
  margin-top: 30px;
  background-color: rgb(18 20 68);;
  color: rgb(250, 34, 49);
  font-size: 20px;
  border: none;
  outline: none;  
}

/* button:hover {
  background-color: #20bf6b;
} */

.btn_add:hover {
  color: rgb(51, 255, 0);
}

.btn_sub:hover {
  color: rgb(255, 64, 0);
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

